.markup {
    .col-lg-4.col-md-6.col-xs-12 {
        padding: 25px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.27);

        &:hover {
            box-shadow: 0 0 1px rgb(192, 17, 17);
        }
    }

    .scroll {
        max-height: 350px;
    }

    .site-map {
        ol {
            padding-left: 40px;
            padding-bottom: 20px;

            li {
                position: relative;
                border-left: 2px solid $brand-primary;
                &:hover {
               
                    &:before {
                        background-color: $brand-secondary;
                    }
                }
                a {
                    line-height: 40px;
                    margin-left: 15px;
                   &:hover{
                    cursor: pointer;
                    & >a {
                        text-decoration: underline;
                    }
                   }
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: -26px;
                    top: 15px;
                    width: 10px;
                    height: 10px;
                    background-color: $brand-primary;
                    border-radius: 50%;
                   
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: -2px;
                    top: 25px;
                    width: 50%;
                    height: 15px;
                    border-left: 2px solid $brand-primary;
                    border-bottom: 2px solid $brand-primary;
                }
            }
        }
    }

    .gradient-default {
        background: radial-gradient(rgb(206, 196, 196), transparent);
        transition: all 2s;

        &:hover {
            background: radial-gradient(red, transparent);
        }
    }
}

body {
	font-family: 'Gilroy-Regular';
	color: #333;
	background-color: #fff;
	overflow-x: hidden;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrap_page {
    overflow: hidden;
    margin-bottom: auto;
}

.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 20;
}

.muve-top {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    background: $muve-top-background;
    color: $muve-top-color;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    &:before {
        content: "↑";
        position: absolute;
        font-weight: bold;
        font-size: 20px;
        top: 47%;
        left: 52%;
        transform: translate(-50%, -50%);
    }
}

/*1*/
.brand-bg-1,
.brand-bg-2 {
    background-color: $brand-primary;
    height: 15vh;
    width: 75%;
    margin-bottom: 25px;
}

.brand-bg-2 {
    background-color: $brand-secondary;
}

/*2*/
::selection {
    color: #000;
    background: $brand-secondary;
}

a {
    color: $brand-primary;

    &:hover {
        text-decoration: underline;
        color: $brand-primary;
    }
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #636363;
}

b,
strong {
    font-weight: 700;
    color: #0c0c0c;
}

i,
em {
    font-weight: 400;
    color: #636363;
}

/*3*/


/*4*/
ul {
    padding: 0;
    list-style: none;

    li {
        display: flex;
        align-items: center;

        &:before {
            content: none;
            margin-left: 20px;
            margin-right: 20px;
            background-color: $brand-primary;
            border-radius: 50%;
            width: 6px;
            height: 6px;
        }
    }
}





/*5-6*/
body {
    // font-family: $font-primary;
    color: $black;
    background-color: $white;
    overflow-x: hidden;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*=== END BASIC styles ===*/


.markup-link {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 2;
    background-color: $brand-secondary;
    padding: 5px;
    border-radius: 50%;
    transition: .2s;
    text-decoration: none;
    font-weight: 900;
    color: $white;

    &:hover {
        background-color: $brand-primary;
        color: $white;
    }
}

.font-weight-light {
    font-family: 'HeliosLightC';
}

/*7-8*/

h1,
.title_1 {
    font-size: 38px;
    line-height: 54px;
    font-weight: 700;
    color: #060606;
}

h2,
.title_2 {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    color: #060606;
}

h3,
.title_3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #060606;
}

h4,
.title_4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #060606;
}

h5,
.title_5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #060606;
}

h6,
.title_6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #060606;
}

/*9*/

input[type="checkbox"],
input[type="radio"] {
    display: none;

    &+label {
        color: #595959;
        cursor: pointer;

        &:hover {
            color: #060606;

        }

        &:before {
            content: '';
            padding: 9px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 19px;
            width: 16px;
            height: 16px;
            background-color: #ffffff;
            border: 1px solid #ededed;
            border-radius: 2px;
        }
    }
}



input[type=radio]+label:before {
    border-radius: 50%;
}

input[type=radio]:checked+label:before {
    border-radius: 50%;
    background: url(assets/img/radio.png) center no-repeat;
    background-size: contain;
    border: 1px solid transparent;
}


input:checked+label {
    color: #060606;

    &:before {
        content: '';
        background: url(assets/img/checkbox.png) center no-repeat;
        background-size: contain;
        border: 1px solid transparent;
    }
}


/*10-11*/



.btn {
    display: inline-block;
    padding: 21.5px 50px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border:none;
    line-height: 1.25;
    border-radius: 4px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:focus{
        box-shadow: none;
        outline: none;
    }
}

.btn-primary {
    font-size: 16px;
    font-weight: 700;
    color: $white;

    background-color: $brand-primary;

    &:hover {
        color: #060606;
        background-color: $brand-secondary;
        border-color: $brand-secondary;
    }
}

.btn-secondary {
    color: #fff;
    background-color: $brand-primary;

    &:hover {
        background-color: #41a6f4;
        border-color: #41a6f4;
    }
}

.btn-success {
    color: $brand-primary;
    background-color: transparent;
    border: 2px solid transparent;
    border-color: $brand-primary;

    &:hover {
        background-color: #41a6f4;
        border-color: #41a6f4;
    }
}

.btn-danger {
    color: #fff;
    background-color: transparent;
    border: 2px solid transparent;
    border-color: #fff;

    &:hover {
        color: #0c0c0c;
        background-color: #fff;
        border-color: #fff;
    }
}

.btn-link {
    color: $brand-primary;
    background-color: transparent;

    &:hover {
        color: $brand-primary;
    }
}

/*12*/
/*13*/
.scroll::-webkit-scrollbar {
    width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: $brand-primary;
    background-clip: padding-box;
    border: 0px solid #f9f9f9;

    &:hover {
        background-color: #41a6f4;

    }
}

.scroll::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    cursor: pointer;
}

::-webkit-scrollbar-button {
    background-color: transparent;
}

/* IE */
.scroll {
    scrollbar-face-color: $brand-primary;
    scrollbar-shadow-color: #f9f9f9;
    scrollbar-highlight-color: #f9f9f9;
}

/* FireFox */
.scroll {
    scrollbar-color: $brand-primary #f9f9f9;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}


.scroll-heidden::-webkit-scrollbar {
    width: 0px;
}

/*14*/
/*15*/
/*16*/
/*17*/
/*18*/
.breadcrumb {
    font-size: 14px;
    color: $breadcrumbs-last-child;

    a {
        text-decoration: none;
        color: $breadcrumbs-link;

        &:hover {
            color: $breadcrumbs-link-hover;
        }
    }

}
