.container_footer {

    background: #245852;
    padding-top: 105px;
    padding-bottom: 20px;


}


.footer_text {
    font-family: Avenir;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
    margin: 30px;

}


