
///colors///
$white: #fff;
$black: #000;

$brand-primary: #01996D;
$brand-secondary: #FC901C;



$accent-text: #292929;
$content-text: #424242;
/*   <Breadcrumbs/>   */
$breadcrumbs-slash: $brand-secondary;
$breadcrumbs-link: $brand-secondary;
$breadcrumbs-link-hover: $brand-primary;
$breadcrumbs-last-child: #B2B1B1;

$grey: #bdbdbd;
$placeholder: $grey;
/*   <Muve-top/>   */
$muve-top-background: $brand-primary;
$muve-top-color: #fff;
