<footer>
    <section class="container_footer">
        <div class="container">
            <div class="footer_text">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Alivio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Why Alivio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Solutions</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Community</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
            </div>
            </ul>

        </div>
    </section>
</footer>
@@include('modals.html')
<script async src="assets/js/popper.min.js"></script>
<script async src="assets/js/bootstrap-5.2.min.js"></script>
<script async src="assets/js/picturefill.js"></script>
<script async src="assets/js/jquery.mask.min.js"></script>

<script async src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script async src="assets/js/jquery.nice-select.min.js"></script>
<script async src="assets/js/global.js"></script>
<script async src="assets/js/custom.js"></script>
</body>

</html>
