<section class="container_how">
   <div class="container">
       <div class="how">How it works</div>
       <div class="row">
           <div class="col-md-6">
               <h1 class="work">Understand & Release the stress in 3 steps</h1>
           </div>
           <div class="col-md-6">
               <div class="work__content">Alivio offers as many journals it takes, tackling different areas such as
                   anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you
                   become aware of your emotions, and guide you in how to manage stress. </div>
           </div>
       </div>
   </div>
</section>
<section class="how-it-work">
   <div class="container">
    <ol class="row">
        <li class="item col-lg-4 col-md-6 col-12">
            <div class="item__title">
                Personalize
            </div>
            <div class="item__description">
                Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!   
            </div>
            <div class="item__img-box">
                <img src="assets/img/personalize.jpg" class="img-fluid" alt="">
            </div>
        </li>
        <li class="item col-lg-4 col-md-6 col-12">
            <div class="item__title">
                Write & Understand
            </div>
            <div class="item__description">
                Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage your stress! 
            </div>
            <div class="item__img-box">
                <img src="assets/img/writeunderstand.jpg" class="img-fluid" alt="">
            </div>
        </li>
        <li class="item col-lg-4 col-md-6 col-12">
            <div class="item__title">
                Alivio!
            </div>
            <div class="item__description">
                Now you are aware, and have a way to manage and overcome your own stress.
                What are you waiting for? Alivio today!    
            </div>
            <div class="item__img-box">
                <img src="assets/img/alivio.jpg" class="img-fluid" alt="">
            </div>
        </li>
        <li class="item col-lg-4 col-md-6 col-12">
            <div class="item__title">
                Write & Understand
            </div>
            <div class="item__description">
                Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage your stress! 
            </div>
            <div class="item__img-box">
                <img src="assets/img/writeunderstand.jpg" class="img-fluid" alt="">
            </div>
        </li>
        <li class="item col-lg-4 col-md-6 col-12">
            <div class="item__title">
                Personalize
            </div>
            <div class="item__description">
                Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!   
            </div>
            <div class="item__img-box">
                <img src="assets/img/personalize.jpg" class="img-fluid" alt="">
            </div>
        </li>
        <li class="item col-lg-4 col-md-6 col-12">
            <div class="item__title">
                Write & Understand
            </div>
            <div class="item__description">
                Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage your stress! 
            </div>
            <div class="item__img-box">
                <img src="assets/img/writeunderstand.jpg" class="img-fluid" alt="">
            </div>
        </li>
       
    </ol>
   </div>
</section>