<section class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 ">
                <div class="img_col">
                <div class="container__customized">
                        <p class="text-title">Customized For</p>
                        <div class="card_product" style="width: 57px; height: 57px; margin-left: 113px;"><img
                                class="card-img-top" src="/assets/img/mikayla.jpg" alt="mikayla"></div>
                            <div class="card-body">
                                <p class="img-text">Mikayla</p>
                                <p class="card-text-text">Your custom contents</p>
                                <p class="card-text-one">• Understand Your Stress</p>
                                <p class="card-text-two">• Anger Management</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="text_product">
                        <h1 class="text">Our product</h1>
                        <div class="text__one">You tell us your stress, We make your diary</div>
                        <div class="text__two">Everyone experiences it, and in different ways. <p>Let Alivio guide
                                you, in a personalized journal experience, to overcome your stress. </p>
                        </div>
                        <div class="btn__product"><button class="btn btn-primary">Find Your Way</button></div>
                    </div>
                </div>
            </div>
        </div>
</section>
