<section class="container-video">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="screen__subtitle">Let's hear about Kayla's success story </div>
                <div class="content">See how well Alivio works in a real customer's life. </div>
                <div class="video-btn"><button class="video-btn btn-primary">Let's get started</button></div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="video">
                    <video class="video__media" src="/assets/img/video_pr.mp4" autoplay muted loop></video>

                </div>
            </div>
        </div>
    </div>
</section>
