.product {
    margin-top: 120px;
    margin-bottom: 168px;

}
.card_product{

    border:none;
}
.img_col {
    max-width: 638.46px;
    min-height: 573.26px;
    background-image: url(/assets/img/product.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 62px;

}

.text_product {
    padding-left: 73px;
}

.text {
    padding-top: 4px;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.57;
    letter-spacing: 0em;
    text-align: left;

}


.text__one {
    padding-bottom: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.57;
    color: #01996D;
}

.btn__product {
    margin-top: 40px;
}

.text__two {
    font-size: 20px;
    line-height: 31, 4px;
}

.container__customized {
    padding-top: 26px;
    position: absolute;
    min-width: 296.14px;
    min-height: 293.9px;
    border-radius: 9px;
    background-color: white;
    //padding: 0px 55px 0px 61px;
    margin-top: 354px;
    margin-right: 403px;
    z-index: 1;

}

// // &:before {
// //     .container__customized: '';
// //     width: 100px;
// //     height: 100px;
// //     border: 1px solid red;
// //     position: absolute;
// //     top: 0;
// //     left: 0;
// //     background: url("/img/mikayla.jpg");
// //     background-size: contain;
// //     background-repeat: no-repeat;
// //     background-position: center;
// //     z-index: 1;
// // }

.text-title {

    max-width: 130.54px;
    max-height: 23.12px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14.49px;
    line-height: 1.57;
    text-align: center;
    margin-left: 83px;
}

.img-text {

    max-width: 41.03px;
    min-height: 18.65px;
    left: 402.56px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11.9351px;
    line-height: 1.57;
    text-align: center;
    margin-left: 107px;


}

.card-text-text {

    min-width: 180px;
    left: 336px;
    margin-top: 20px;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.57;
    color: #000000;
    text-align: center;
    margin-left: 41px;
}

.card-text-one {

    max-width: 117.35px;
    max-height: 16.46px;
    left: 336px;
    margin-top: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.57;
    color: #000000;
    margin-left: 61px;
}

.card-text-two {

    max-width: 100.35px;
    max-height: 16.46px;
    left: 336px;
    margin-top: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.57;
    color: #000000;
    margin-left: 61px;
}