.container-video {
    background-color: #245852;
    height: 922px;
    padding-top: 229px;
    padding-bottom: 207px;
}

.screen__subtitle {
    max-width: 580px;

    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.57;
    color: #FFFFFF;

}

.video-btn {
    margin-top: 45px;

    height: 62px;
    width: 241px;
    left: 1461px;
    top: 18px;
    border-radius: 4px;
    padding: 13px, 50px, 13px, 50px;
}

.content {

    max-width: 550px;
    min-height: 39px;
    margin-top: 33px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.57;
    color: #FFFFFF;
}

.video__media {

    width: 100%;
    height: auto;
    border-radius: 25px;
}


 